{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
{% if object_id and original %}
<script type="text/javascript">
    const picker_id = "{{ object_id }}";
    const content_id = "{{ original.content.id }}";
    const load_filters_url = "{% url 'admin:conduit-picking-filters-fields' %}";
    const get_args = {'content_id': content_id, 'picker_id': picker_id};

    django.jQuery(document).ready(() => {
        const previewUrl = new URL("{{ request.scheme }}://{{ request.get_host }}{% url 'admin:conduit-picking-preview-picked' %}");
        previewUrl.searchParams.append('content_id', content_id);
        previewUrl.searchParams.append('picker_id', picker_id);
        const fieldsUrl = new URL("{{ request.scheme }}://{{ request.get_host }}{% url 'admin:conduit-picking-filters-fields' %}")
        fieldsUrl.searchParams.append('content_id', content_id)
        fieldsUrl.searchParams.append('picker_id', picker_id)
        const pickerForm = new Pickers();

        django.jQuery("form#dynamicpicker_form").on("submit", () => { pickerForm.bundle_filters(); });
        django.jQuery(document).on('filter_id_update', (e, id, formrow) => {
            const formField = django.jQuery("#" + id);
            if (formField.is('select') && formField.attr('multiple') === 'multiple' && formField.attr('class') === 'selectfilter')
            {
                SelectFilter.init(id, formField.attr('name') , 0, "{{ STATIC_URL}}admin/");

                //clean up labels
                const properLabel = formrow.find("label").html();
                const replaceMe = new RegExp("(" + id.replace('id_', '') + ")+");

                formrow.find("h2").html((index, oldHtml) => {
                    return oldHtml.replace(replaceMe, properLabel);
                });
            }
        });
        django.jQuery(document).on("click", "#refresh-picked", (event) => {
            event.stopPropagation();
            pickerForm.bundle_filters();
            const div = django.jQuery("div#picked-objects").empty();

            django.jQuery("form#dynamicpicker_form select[multiple='multiple'][class='filtered']:not([id$='_from'])").each(function(elem,val){
                const target = django.jQuery(val).attr('id');

                SelectBox.select_all(target);
            });

            const formBody = django.jQuery("form#dynamicpicker_form").serialize();
            django.jQuery.ajax(previewUrl.toString(), { data: formBody, method: 'POST' }).done((data) => {
                django.jQuery.each(data, function(index, value){

                    const html = django.jQuery("<div><label>pk: " + value[0] + "</label><p>" + value[1] + "</p></div>");
                    div.append(html);
                });
            });
        });

        const initialFormBody = django.jQuery("form#dynamicpicker_form").serialize();
        //load the appropriate filter sets
        django.jQuery.ajax(fieldsUrl.toString(), { data: initialFormBody, method: 'POST' }).done((data) => {
            pickerForm.process_available(data);
            // get the initial set of preview objects for the picker
            django.jQuery("#refresh-picked").trigger('click');
        });
    });

</script>
{% endif %}
{% endblock %}

{% block after_field_sets %}{% if object_id and original %}
    <fieldset class="module aligned" id="picked-objects">
        <h2>Preview Picker <button class="refresh-icon web-symbol" id="refresh-picked" type="button">V</button></h2>
        <div class="form-row" id="picked-objects"></div>
    </fieldset>{% endif %}
{% endblock %}
