{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
{% if object_id and original %}
<script type="text/javascript">
    django.jQuery(document).ready(function() {
        const picker_id = "{{ object_id }}";
        const content_id = "{{ original.content.id }}";

        const load_filters_url = "{% url 'admin:conduit-picking-filters-fields' %}";
        const preview_url = "{% url 'admin:conduit-picking-preview-picked' %}";
        const get_args = {'content_id': content_id, 'picker_id': picker_id};

        const picker_form = new Pickers();

        //load the appropriate filter sets
        django.jQuery.getJSON(load_filters_url, get_args, (data) => { picker_form.process_available(data); });
        django.jQuery("form#dynamicpicker_form").bind("submit", () => { picker_form.bundle_filters(); });

        django.jQuery(document).bind('filter_id_update', (e, id, formrow) => {
            "use strict";
            const form_field = django.jQuery("#" + id);
            if (form_field.is('select') && form_field.attr('multiple') === 'multiple' && form_field.attr('class') === 'selectfilter')
            {
                SelectFilter.init(id, form_field.attr('name') , 0, "{{ STATIC_URL}}admin/");

                //clean up labels
                const proper_label = formrow.find("label").html();
                const replace_me = new RegExp("(" + id.replace('id_', '') + ")+");

                formrow.find("h2").html(function(index, oldHtml){
                    return oldHtml.replace(replace_me, proper_label);
                });
                formrow.find("h2 > img").attr("title", formrow.find("h2 > img").attr("title").replace(replace_me, proper_label));
            }
        });

        django.jQuery(document).on("click", "#refresh-picked", function(e){
            "use strict";
            picker_form.bundle_filters();
            const div = django.jQuery("div#picked-objects").empty();

            django.jQuery("form#dynamicpicker_form select[multiple='multiple'][class='filtered']:not([id$='_from'])").each(function(elem,val){
                const target = django.jQuery(val).attr('id');

                SelectBox.select_all(target);
            });

            django.jQuery.getJSON(preview_url + "?" + django.jQuery("form#dynamicpicker_form").serialize(), get_args, function(data){
                django.jQuery.each(data, function(index, value){

                    const html = django.jQuery("<div><label>pk: " + value[0] + "</label><p>" + value[1] + "</p></div>");
                    div.append(html);
                });
            });
        });
    });

</script>
{% endif %}
{% endblock %}
