{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
{% if object_id and original %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        var path = jQuery.makeArray(window.location.pathname.split("/"));
        
        var picker_id = {{ object_id }};
        var content_id = {{ original.content.id }};
    
        var load_filters_url = "{% url admin:conduit-picking-filters-fields %}";
        
        var get_args = {'content_id': content_id, 'picker_id': picker_id};
              
        var picker_form = new Pickers();        
        
        //load the appropriate filter sets
        jQuery.getJSON(load_filters_url, get_args, function(data) { picker_form.process_available(data); });
        
        {% comment %}
        //override the save method to bundle up the filters correctly
        jQuery("#dynamicpicker_form").submit(function() {
            return picker_form.bundle_filters();
        });
        {% endcomment %}
        $(document).bind('filter_id_update', function (e, id) {
            if (window.console && console.log) {
                console.log('id', id);
            }
        });
    });
    
</script>
{% endif %}
{% endblock %}