{% extends "admin/change_form.html" %}

{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    original_dismissRelatedLookupPopup = window.dismissRelatedLookupPopup;

    window.dismissRelatedLookupPopup = function (win, chosenId) {
        var name = windowname_to_id(win.name);
        var elem = document.getElementById(name);
        original_dismissRelatedLookupPopup.apply(this, arguments);
        jQuery(elem).trigger("change");
    };

    jQuery(document).ready(function() {
        var preview_url = "{% url admin:newsengine-article-preview %}";
        jQuery().ArticlePreview(preview_url); //simple plugin which generates preview button
        jQuery("input[name$='_inlines']").RenaissanceTagGenerator(); //generates renaissance inline tags

        //handle article translations
        var inline_formsets = "{{ inline_admin_formsets.0.formset.total_form_count|default_if_none:'1' }}";
        if (inline_formsets == "0")
        {
            //this adds a translation and sets language to english, if no translation exists
            django.jQuery(".add-row a").click();
            django.jQuery("#id_translations-0-language").val("1").attr("selected","selected");
        }

    });
    
</script>
{% endblock %}