{% extends "admin/change_form.html" %}

{% load i18n %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
            {% trans "View on site" %}</a>
        </li>
    {% endif%}
    <li><a href="{% url admin:newsengine-article-preview %}" id="preview-link" class="viewsitelink">Preview</a>
  </ul>
{% endif %}{% endif %}

{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    jQuery(document).ready(function() {
        var preview_url = "{% url admin:newsengine-article-preview %}";
        var preview_button = "<input type='submit' value='Preview' class='preview' name='_preview'/>";
        
        jQuery(".submit-row input").before(preview_button);
    });
    
</script>

{% endblock %}