{% extends "admin/base_site.html" %}
{% load markup %}
{% load newsengine_admin %}

{% block content %}
        {% for translation in translations %}
        <h1>Article Preview ({{ translation.language }})</h1>
        <h3>{{ translation.headline }}</h3>
        <h4>{{ translation.sub_headline }}</h4>
        <div style="width:617px; padding:10px; border:1px solid; margin-bottom:10px;">
        {% if translation.synopsis %}
            <p class="synposis">{{ translation.synopsis|markdown }}</p>
            {% else %}
            <p style="text-align:center; color:#aaa;">NO SYNOPSIS</p>
        {% endif %}
        </div>
        <div style="width:617px; padding:10px; border:1px solid;">
        <p class="body">
            {% render_article_translation article translation %}
        </p>
        </div>
        {% endfor %}
{% endblock %}