{% extends "admin/change_list.html" %}

{% load i18n staticfiles %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "admin/js/image_hover.js" %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery("a.popover").imageRollover();
        });
    </script>
    <style type="text/css">
        p#img_preview_popover {
            position: absolute;
            border: 1px solid #999;
            background-color: white;
            z-index: 100;
			max-width:802px;
        }
		p#img_preview_popover img {
			max-width:800px;
		}
    </style>
{% endblock %}
